<header>
  <nav class="menu" role="navigation">
    <a [routerLink]="['/search']" routerLinkActive="active">
      <img src="../../../assets/img/open-book.png" alt="logo" />
    </a>
    <ul>
      <li>
        <a
          [routerLink]="['/favorites']"
          class="button"
          routerLinkActive="active"
          >Favorites</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/collections']"
          class="button"
          routerLinkActive="active"
          >Collections</a
        >
      </li>
      <li>
        <a [routerLink]="['/about']" class="button" routerLinkActive="active"
          >About</a
        >
      </li>
    </ul>
  </nav>
</header>
