@import 'variables';

section.welcome {
  padding: 0 1.5rem 2rem;
  max-width: 1000px;
  margin-inline: auto;
  h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  article {
    h2 {
      font-size: 1.4rem;
      font-weight: 500;
    }
    .text-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        max-width: 50ch;
        width: 100%;
      }

      img{
        mix-blend-mode: multiply;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .text-container {
      flex-direction: column;
      align-items: center;
      img {
        height: 100%
      }
    }
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}