<section class="welcome">
  <h1>Welcome to Bookdepo</h1>
  <article class="benefits-article">
    <h2>Benefits of reading</h2>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos
        commodi assumenda deserunt ut eius, quaerat incidunt aperiam consequatur
        rerum illo temporibus perferendis iure, inventore quod sed dolores!
        Omnis, consectetur consequuntur. Dolorum cum atque sit quos quam,
        accusantium doloribus iste? Ex vitae temporibus esse, tempora inventore
        ut iste assumenda. Illo reprehenderit deleniti fugiat quibusdam
        blanditiis quo doloribus ipsa sequi neque nisi?
      </p>
      <img
        width="450"
        height="328"
        src="../../../assets/img/undraw_creative_thinking_.png"
        alt="creative-illustration" />
    </div>
    <div class="text-container flex-reverse">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        temporibus modi qui quae a quo quos nihil iste, in quia beatae
        distinctio rem labore commodi. Cupiditate, possimus repellendus. Soluta,
        impedit. Ullam, qui. Ipsum tempore sequi expedita dolorem tenetur!
        Laudantium commodi natus illum eius iste eos, dolores magnam, dolorem ad
        delectus maiores dignissimos, quibusdam vel temporibus quidem cumque
        unde nobis inventore.
      </p>
      <img
        width="450"
        height="347"
        src="../../../assets/img/undraw_Bookshelves_.png"
        alt="bookshelf-illustration" />
    </div>
  </article>
  <article class="rec-article">
    <h2>Personal favorites section</h2>
    <div class="text-container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
        necessitatibus, ipsa corrupti perspiciatis eligendi, dolorum quibusdam
        error illum, beatae optio dolores! In voluptate reiciendis voluptas
        soluta quos quia nulla incidunt. Neque, ut perferendis. Deserunt vero
        amet, neque nostrum, ducimus fugiat sint mollitia, blanditiis placeat
        maiores veritatis quis officiis! Ipsa eligendi earum repellat veniam
        perspiciatis obcaecati voluptatum ullam dolorem quaerat ipsam.
      </p>
      <img src="" alt="" />
    </div>
  </article>
  <article class="search-article">
    <h2>search what you feel like</h2>
    <div class="text-container">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil iste
        laboriosam officiis amet, quaerat rerum pariatur quae natus tenetur,
        maiores aliquid voluptates aut illo architecto fuga nulla, voluptate
        deleniti debitis? Ab, exercitationem beatae harum dolores reiciendis
        velit consequatur suscipit in voluptas rerum hic saepe qui rem
        doloremque quae est. Error, quo sapiente sint ratione dolorum qui
        aspernatur mollitia libero numquam.
      </p>
      <img src="" alt="" />
    </div>
  </article>
</section>
