@import 'variables';

.flex {
  display: flex;
  flex-direction: column;
}

section.modal {
  width: 100vw;
  // height: 100%;
  margin: 0;
  padding: 1.5rem 3rem 2rem 2rem;
  background-color: $accent-trans;
  align-items: stretch;
  position: absolute;

  .modal__body {
    margin: 0;
    background-color: $neutral-100;
    // position: absolute;
    // margin: 0rem 2.7rem 2rem 2rem;
    padding: 2rem 1rem 1.2rem;
    width: 100%;
    border: 2px solid $accent-500;
    border-radius: 6px;

    .grid {
      display: grid;
    }
    .card__container {
      align-self: center;
      justify-self: center;
      max-width: 100%;

      grid-template-columns: repeat(auto-fill, 210px);
      gap: 2rem;
    }
  }
}
