<section class="about__page">
  <h1 class="title">BookDepo</h1>
  <div class="about__container">
    <p class="about__paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat itaque laborum velit aliquam, fuga quia ut eum qui perferendis vero deleniti accusantium placeat quis, repellendus ex sed saepe molestias illo?
    </p>
    <figure class="about__img">
      <img src="assets/img/book-404.jpg" alt="About Page" class="about__picture" rel="preload" as="image" width="200" height="300">
    </figure>
  </div>
  <p class="about__copy">
    Developed by <span class="about__copy--emph">Sergio Esteve</span>
  </p>
</section>