@import 'variables';

// label {
//   padding: 0.5rem 1.75rem;
// }
section.searchbar__container {
  padding: 0.75rem 1.75rem 0.5rem 1.5rem;
  .searchbar__inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex-direction: row;

    .searchbar__input {
      width: 100%;
      display: inline-block;
      background-color: $neutral-100;
      border: 1px solid $accent-500;
      border-radius: 4px;
      box-shadow: $neutral-100 4px 4px 0 0, $accent-500 4px 4px 0 1px;

      color: $neutral-900;
      line-height: 1.6;
      font-weight: 500;
      margin-bottom: 10px;
      overflow: visible;
      box-sizing: border-box;

      padding: calc(0.6rem + 1px) 1.25rem;
      margin-right: 10px;
      text-transform: none;
      vertical-align: middle;
      white-space: nowrap;
      transition: box-shadow 100ms ease;

      &:focus-within,
      &:active {
        outline: none;
        box-shadow: $accent-500 4px 4px 0 0, $accent-500 4px 4px 0 1px;
      }
      // &:not([disabled]):active {
      //   box-shadow: $neutral-200 2px 2px 0 0, $accent-500 2px 2px 0 1px;
      // }
    }

    .button {
      background-color: $accent-500;
      color: $neutral-100;
    }
  }
}
@media (max-width: 568px) {
  section.searchbar__container {
    padding-right: 1.75rem;

    .searchbar__inputs {
      flex-wrap: wrap;
      width: 100%;
      .searchbar__input {
        flex-grow: 100;
        width: auto;
        margin-right: 10px;
      }
      .button {
        width: auto;
        flex-grow: 10;
      }
    }
  }
}
// @media (min-width: 768px) {
//   .button-50 {
//     padding: 12px 50px;
//   }
// }
