article * {
  --clr-neutral-900: #333;
  --clr-neutral-100: #ececec;
  --clr-accent-500: hsl(220, 100%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  color: var(--clr-neutral-900);
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 23ch;
  aspect-ratio: 209/294;
  border-radius: 0.5rem;
  overflow: hidden;
  /* Transición de crecimiento de la tarjeta en el :hover */
  transition: transform 150ms ease;
  &:hover,
  &:focus-within {
    /* focus-within sirve para aplicar el cambio cuando algo dentro del elemento está siendo focuseado */
    transform: scale(1.015);
    .card-content {
      transform: translateY(0px);
      /* Delay de la transición para que se muestre tras la barra */
      // transition-delay: 100ms;
    }
    & > * {
      opacity: 1;
      /* Delay de la transición para mostrarse tras la barra y la subida */
      transition-delay: 1050ms;
    }
    &:focus-within .card-content {
      transition-duration: 0ms;
    }
  }
  .card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    // background: linear-gradient(
    //   hsl(0 0% 0% / 0),
    //   hsl(0 0% 0% / 0.3) 20%,
    //   hsl(0 0% 0% / 1)
    // );
    background-color: var(--clr-neutral-100);
    /* Transición de subida de la info */
    transform: translateY(50px);
    transition: transform 150ms ease;

    .button {
      cursor: pointer;
      width: 120px;
      height: 35px;
      display: inline;
      text-decoration: none;
      color: var(--clr-neutral-900);
      background-color: var(--clr-accent-500);
      padding: 0.5em 1.25em;
      border-radius: 0.25rem;
      &:hover,
      &:focus {
        background-color: var(--clr-neutral-100);
      }
    }
    & > *:not(.card-title) {
      opacity: 0;
      transition: opacity 300ms linear;
    }
  }
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

/* Transición opacidad creciente del texto excepto el título */

// .card:hover .card-content > *,
// .card:focus-within .card-content > * {
//   opacity: 1;
//   /* Delay de la transición para mostrarse tras la barra y la subida */
//   transition-delay: 1050ms;
// }

/* Puede ser buena idea cambiar el transition-delay del focus-within específico para no esperar a que pase algo que ya ha pasado */

.card-title {
  position: relative;
  width: max-content;
}
